/* Глобальные стили */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Стили для h1 заголовка */

h1 {
    text-align: center;
}

/* Стили для формы */

.equation_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

/* Стили для label */

label {
    display: inline-block;
    width: 200px;
    text-align: center;
}

/* Стили для input */

input[type="text"], input[type="button"] {
    text-align: center;
    font-size: 16px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 80%;
    max-width: 500px;
}

/* Стили для кнопки */

input[type="button"] {
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
}

/* Стили для таблицы */


table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

th, td {
    text-align: center;
    padding: 10px;
    border: 1px solid black;
}

th {
    background-color: #ccc;
}

tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

#table_id_000 th {
    background-color: #99CCFF;
}

#table_id_000 tbody tr:nth-child(odd) {
    background-color: #F8E8FF;
}


/*#table_id_001 {*/
/*  border-collapse: collapse;*/
/*  width: 100%;*/
/*  margin-top: 20px;*/
/*}*/

/*#table_id_001 th {*/
/*  background-color: #4CAF50;*/
/*  color: white;*/
/*  font-weight: bold;*/
/*  padding: 8px;*/
/*  text-align: center;*/
/*  border: 1px solid #ddd;*/
/*}*/

/*#table_id_001 td {*/
/*  padding: 8px;*/
/*  text-align: center;*/
/*  border: 1px solid #ddd;*/
/*}*/

/*#table_id_001 {*/
/*  width: 100%;*/
/*  border-collapse: collapse;*/
/*}*/

/*#table_id_001 thead th {*/
/*  position: sticky;*/
/*  top: 0;*/
/*  background-color: #fff;*/
/*}*/

/*#table_id_001 tbody td {*/
/*  border: 1px solid #ddd;*/
/*  padding: 8px;*/
/*}*/


/*table {*/
/*  width: 100%;*/
/*  border-collapse: collapse;*/
/*  margin-top: 20px;*/
/*}*/

/*th, td {*/
/*  padding: 10px;*/
/*  text-align: center;*/
/*  border: 1px solid #ccc;*/
/*}*/

/*th {*/
/*  background-color: #eee;*/
/*}*/

/* Стили для div элемента */

.guruweba_example_infofield {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
}

/* Стили для tbody */

tbody {
    text-align: center;
}

/* Стили для caption */

caption {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Стили для кнопки удаления */
.delete_btn {
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
}