<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>Форма решения квадратных уравнений</title>
    <style>
   body {background-color: powderblue;}
   table {
    width: 100%; /* Ширина таблицы */
    background: powderblue; /* Цвет фона таблицы */
    color: black; /* Цвет текста */
   }
   td, th {
    background: powderblue; /* Цвет фона ячеек */
    padding: 5px; /* Поля вокруг текста */
	border: 1px solid black;
   }
    </style>
</head>

<body>
<form class="equation_form" name="eq" method="post">
    <div style="font-size:large;">Решение квадратных уравнений</div>
    <br>

    <input type="text" id="inputEquation" name="equation" style="background-color: powderblue;"
           placeholder="Введите уравнение" required="required">
    <input type="button" name="submit_btn" onclick="decision()" value="Решить"><br>
</form>
<br>
<div>Последние решения</div>
<br>

<table id="myTable">
    <tr>
        <th>Номер</th>
        <th>Уравнение</th>
        <th>Корни</th>
        <th>Время</th>
    </tr>
</table>

<script>
var count = 1;
function decision(){
var equation=document.getElementById("inputEquation").value;
if (equation==""){
alert("Вы не ввели квадратное уравнение!");
return;
}
console.log(equation);
var xmlHttp=new XMLHttpRequest();
xmlHttp.open( "GET", window.location.href+"quadratic/"+equation, false ); // false for synchronous request
xmlHttp.send("")
var str="<tr><td>"+count+"</td><td>"
              +equation+"</td><td>"
              +xmlHttp.responseText+"</td><td>"
			  +new Date()+"</td></tr>";
var tableObj=document.createElement('tbody');
tableObj.innerHTML=str;
document.getElementById('myTable').appendChild(tableObj);
count++;
}
</script>
</body>
</html>