<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Название страницы: Решение квадратных уравнений</title>
    <!--    <link href="/static/style.css" rel="stylesheet" type="text/css">-->
    <link href="../static/style.css" th:href="@{/style.css}" rel="stylesheet"/>
</head>


<body>  <!-- наконец открываем тело нашего документа. Здесь будет всё его содержание-->

<!--начиная отсюда вставляем любые текст, заголовки, ссылки и тп-->
<h1>Решение квадратных уравнений</h1>

<form class="equation_form" name="equation_form_name" method="post">

    <!--    присвоили полю для ввода айдишник id="inputEquationId" → по нему вытаскиваем элемент через метод гетЭлементБайИд -->
    <input type="text" id="inputEquationId" name="name" required placeholder="Введите уравнение">
    <br>
    <br>

    <!--    привязали метод к кнопке - onclick="GetDecision()"-->
    <input type="button" name="submit_btn" onclick="GetDecision()" value="Отправить">

    <br>

    <div class="guruweba_example_infofield">Последнее уравнение</div>
    <table id="model_table_id1231" class="model_table">
        <tr>
            <td>№</td> <!--<td>&nbsp;</td> - пустая клетка-->
            <td>Уравнение</td>
            <td>Корни</td>
            <td>Время</td>
        </tr>
        <tr>
            <td id="n_t1"></td>
            <td id="eq_t1"></td>
            <td id="root_t1"></td>
            <td id="time_t1"></td>
        </tr>
        <tr>
            <td id="n_t2"></td>
            <td id="eq_t2"></td>
            <td id="root_t2"></td>
            <td id="time_t2"></td>
        </tr>
        <tr>
            <td id="n_t3"></td>
            <td id="eq_t3"></td>
            <td id="root_t3"></td>
            <td id="time_t3"></td>
        </tr>
    </table>
    <br>
    <br>
</form>


<script>

    function GetDecision() {

        //Присваиваем переменной значение из поля inputEquationId
        let inputValue = document.getElementById("inputEquationId").value;

        //Вывод в консоль лог
        console.log(inputValue)

        //Создаем реквест хттп - отправляем апи запрос по указ эндпоинту - обрабатывать его обработка будет в гетМаппинг контроллере
        let xmlHttpRequest = new XMLHttpRequest();

        //window.location.href - ????
        //было - xmlHttpRequest.open("GET", "http://localhost:8080/getV"+inputValue, false);
        xmlHttpRequest.open("GET", window.location.href + "getV/" + inputValue, false);


        xmlHttpRequest.send("");


        console.log(xmlHttpRequest.responseText)

//было велью
        document.getElementById("n_t1").innerHTML = xmlHttpRequest.responseText;



        //xmlHttpRequest.onreadystatechange = function() {
        //    if (xmlHttpRequest.readyState == XMLHttpRequest.DONE) {
        //        alert(xmlHttpRequest.responseText);
        //    }
        //}
    }





</script>


<!--<br>-->
<!--<br>-->
<!--<fieldset>-->
<!--    <legend>Решение квадратных уравнений</legend>-->
<!--    <div class="guruweba_example_infofield">Примеры уравнений</div>-->
<!--    <select name="theme_id_12" required="required">-->
<!--        <option value="">Выберите вариант</option>-->
<!--        <option>Привер уравнения 1</option>-->
<!--        <option>Привер уравнения 2</option>-->
<!--    </select>-->
<!--</fieldset>-->

</body>
</html>

