<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Название страницы: Решение квадратных уравнений</title>
    <!-- привязали ксс стили-->
    <link href="../static/style.css" th:href="@{/style.css}" rel="stylesheet"/>
</head>


<body onload="getAllDataFromDB()">

<h1>Решение квадратных уравнений</h1>

<form class="equation_form" name="equation_form_name" method="post">
    <!--    <label for="inputEquationId">Введите уравнение:</label>-->
    <!-- Присвоили полю для ввода айдишник id="inputEquationId", что позволяет вытащить элемент через метод getElementById() -->
    <input type="text" id="inputEquationId" name="inputEquation" required
           placeholder="Введите уравнение. Например: 2x^2+5x+3=0">
    <!-- Кнопка расчета уравнения. Привязан метод для решения уравнения GetDecision() -->
    <input type="button" name="submit_btn" onclick="GetDecision()" value="Решить">
    <div class="guruweba_example_infofield">Решение уравнения</div>
    <table class="equation_table" id="table_id_001">
        <thead>
        <tr>
            <th scope="col">Номер</th>
            <th scope="col">Уравнение</th>
            <th scope="col">Корни</th>
            <th scope="col">Дата</th>
        </tr>
        </thead>
    </table>
    <!-- Кнопка удаления последней записи с пирвязанным к ней методом-->
    <button class="delete_btn" type="button" onclick="deleteLastDataFromDB()" style="background-color: #ffcccc;">Удалить
        последнюю запись
    </button>
</form>

<script>
    /** Присваиваем переменной значение из поля inputEquationId
     Создаем HttpRequest - отправляем апи запрос по указ эндпоинту - его обработка будет в гетМаппинг контроллере*/

    PostNewTableInPostgress();

    function PostNewTableInPostgress() {
        let xmlHttpRequest = new XMLHttpRequest();
        xmlHttpRequest.open("POST", window.location.href + "create-table-in-postgres-db", false);
        xmlHttpRequest.send("");
    }

    function GetDecision() {
        let inputEquation = document.getElementById("inputEquationId").value;
        console.log(inputEquation)

        let xmlHttpRequest = new XMLHttpRequest();
        xmlHttpRequest.open("POST", window.location.href + "post-equals-equation", false);
        xmlHttpRequest.send(inputEquation);
        if (xmlHttpRequest.status !== 200) {
            alert('Ошибка: ' + xmlHttpRequest.status + "\n" + "Введите уравнение");
            return;
        }
        console.log(xmlHttpRequest.response)
        let XmlResponseTextJsonParse = JSON.parse(xmlHttpRequest.responseText);
        console.log(XmlResponseTextJsonParse);

        /** Эту часть мы удалили и заменили на функцию getAllDataFromDB()
         var tableModel = "<tr><td>" + XmlResponseTextJsonParse.number + "</td>" +
         "<td>" + XmlResponseTextJsonParse.equation + "</td>" +
         "<td>" + XmlResponseTextJsonParse.roots + "</td>" +
         "<td>" + XmlResponseTextJsonParse.date + "</td></tr>";
         console.log(tableModel);
         //'tbody' - часть xmlHttpRequest ???
         var tableObj = document.createElement('tbody');
         tableObj.innerHTML = tableModel;
         document.getElementById('table_id_001').appendChild(tableObj);*/
        getAllDataFromDB();
    }

    //функция получение всех данных из БД
    function getAllDataFromDB() {

        //удалить последнего чайлд из таблицы
        const myNode = document.getElementById("table_id_001");
        console.debug(myNode.firstChild)
        console.debug(myNode.lastChild)
        while (myNode.firstChild) {
            myNode.removeChild(myNode.lastChild);
        }

        let xmlHttpRequestGetAllDataFromDB = new XMLHttpRequest();
        xmlHttpRequestGetAllDataFromDB.open("GET", window.location.href + "get-all-data-db", false);
        xmlHttpRequestGetAllDataFromDB.send(""); //важно. отправляем запрос
        console.log(xmlHttpRequestGetAllDataFromDB.response)
        let responseJsonParse = JSON.parse(xmlHttpRequestGetAllDataFromDB.responseText);
        console.log(responseJsonParse);

        for (let i = 0; i < responseJsonParse.length; i++) {
            let tableModel = "<tr>" +
                "<td>" + responseJsonParse[i].number + "</td>" +
                "<td>" + responseJsonParse[i].equation + "</td>" +
                "<td>" + responseJsonParse[i].roots + "</td>" +
                "<td>" + responseJsonParse[i].date + "</td></tr>";

            let tableObj = document.createElement('tbody');
            tableObj.innerHTML = tableModel;
            document.getElementById('table_id_001').appendChild(tableObj);
        }
    }

    //тут мы пытаемся написать метод который будет удалять последнюю запись из таблицы
    //функция получение всех данных из БД
    function deleteLastDataFromDB() {
        let deleteLastDataFromDB = new XMLHttpRequest();
        deleteLastDataFromDB.open("DELETE", window.location.href + "delete-last-data-db", false);
        deleteLastDataFromDB.send(""); //важно. отправляем запрос
        console.log(deleteLastDataFromDB.response)
        let responseJsonParse = JSON.parse(deleteLastDataFromDB.responseText);
        console.log(responseJsonParse);
        getAllDataFromDB();
    }

</script>
</body>
</html>